body{
    font-family: 'Crimson Pro', serif;
    text-align: left;
    line-height: 25px;
    margin: 5% 20%;
}
header{
    text-align: center;
}    
#fotoMia{
    width: 30%;
    height: 30%;
}
h3{
    color: #88948E;
    font-style: italic;
}

h2{
    background-color: #85A1B8;
    color: white;
    padding: 1%;

}
dl span{
    font-weight: bold;
}
dd{
    font-style: italic;
}
dl{
    margin: 1%;
}
#redSocial{
    width: 6%;
    height: 6%;
}
footer{
    margin-top: 5%;
    text-align: right;
    margin-inline-end: 5%;

}
.redgit{
    width: 320;
    height: 320;
}
.fab{
    color: gray;
    font-size: 80px;
}